@import "_nullStyle";

.container {
   max-width: 1530px;
   padding: 0 15px;
   margin: 0 auto;
}

.container-s {
   max-width: 1026px;
   padding: 0 15px;
   margin: 0 auto;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}

.main {
   flex: 1 1 100%;
}

@import "_header";
@import "_formField";
@import "_footer";